*{
	padding: 0;
	margin: 0;
}

body{
	color: #989799;
	/*font-family: "楷体","楷体_GB2312";*/
}

a{
	text-decoration: none;
}

ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-header{
	width: 1000px;
	height: 100px;
	/*background-color: #989799;*/
	margin: 0 auto;
	position: relative;
}

.main-header .header-logo{
	position: absolute;
	top: 15px;
	left: 0;
}

.main-header .header-nav{
	position: absolute;
	top: 24px;
	left: 238px;
}

.main-header a{
	color: #989799;
}

.main-header .header-nav ul>li{
	float: left;
	padding: 15px;
	margin-left: 21px;
}

.main-header .header-right{
	position: absolute;
	right: 10px;
	top: 40px;
}

.main-header .login a{
	padding: 5px 20px;
	background-color: #FFEA47;
	/*color: white;*/
	border-radius: 10px;
	color: #606060;
}

.main-container .acg-carousel img{
	width: 100%;
	max-height: 620px;
}

/* icons setting */
.icon{
	width: 50px;
	height:52px;
	display: inline-block;
}

.icon-little{
	width: 19px;
	height: 12px;
	display: inline-block;
	margin: 0 5px;
}


.icon-tv{
	background: url(../images/recmd.png) no-repeat;
	background-size: 100% 100%;
}

.icon-fishcar{
	background: url(../images/new.png) no-repeat;
	background-size: 100% 100%;
}

.icon-guide{
	background: url(../images/guidepost.png) no-repeat;
	background-size: 100% 100%;
}


.icon-ballon{
	background: url(../images/ballon.png) no-repeat;
	background-size: 100% 100%;
}

.icon-arrow-right{
	background: url(../images/arrow-right.png) no-repeat;
	background-size: 100% 100%;
}

.icon-arrow-black{
	background: url(../images/arrow-right-black.png) no-repeat;
	background-size: 100% 100%;
}

.icon-star-1{
	background: url(../images/stars/1.png) no-repeat;
	background-size: 100% 100%;
}
.icon-star-2{
	background: url(../images/stars/2.png) no-repeat;
	background-size: 100% 100%;
}
.icon-star-3{
	background: url(../images/stars/3.png) no-repeat;
	background-size: 100% 100%;
}

.icon-card{
	width: 30px;
	height: 30px;
	display: inline-block;
}

/*
.main-container{
	width: 1000px;
	margin: 0 auto;
}*/

.box{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.box>.hd .title{
	color: #FFAD89;
	display: inline;
	padding-top: 8px;
	line-height: 60px;
	font-weight: 400;
	font-size: 28px;
	font-family: "楷体","楷体_GB2312";
	cursor: pointer;
}

.box>.hd .ad-pic{
	box-shadow: 0px 8px 30px #ddd;
}

.box>.hd .ad-pic img{
	max-width: 100%;
}

.box>.hd .ad-title{
	font-family: "楷体","楷体_GB2312";
}

.box>.hd .ad-content{
	color: #FFAD89;
	/*font-family: "楷体","楷体_GB2312";*/
	height: 70px;
	padding: 20px 0;
}

.box>.hd .ad-title{
	position: absolute;
	font-weight: 400;
	font-size: 28px;
	left: 90px;
}

.box>.hd .ad-line{
	width: 400px;
	height: 1px;
	margin-top: 17px;
	background-color: #FFAD89;
	position: absolute;
	left: 315px;
	display: inline;
}

.box>.hd .ad-author{
	position: absolute;
	right: 100px;
	line-height: 35px;
}

.box>.hd .ad-description{
	color: #606060;
	position: absolute;
	margin-top: 37px;
	left: 90px
}

.bx-wrapper .bx-prev{
	left: -54px!important;
}

.bx-wrapper .bx-next{
	right: -54px!important;
}

.bxslider-content{
	font-size: 14px;
}

.bxslider-title{
	line-height: 25px;
}

.bxslider-author{
	font-size: 12px;
}

.bxslider-more{
	text-align: right;
	padding-right: 10px;
}

.bxslider-more a{
	color: #FFAD89;
}

.bx-wrapper img{
	border-radius: 10px;
}

.discussion{
	width: 1000px;
	margin: 0 auto;
	margin-top: 200px;
	/*border: 1px solid #ddd;*/
}

.board{
	width: 100%;
	height: 173px;
	border: 1px solid #ddd;
	position: relative;
	margin-bottom: 20px;
	border-radius: 10px;
}

.board .chat-head{
	position: absolute;
	top: 20px;
	left: 44px;
	/*width: 100px;*/
	text-align: center;
}

.board .chat-image img{
	/*width: 100px;*/
	height: 80px;
}

.board .chat-content{
	position: absolute;
	top: 0;
	right: 0;
}

.board .chat-text{
	width: 760px;
	height: 100px;
	padding: 5px 20px;
	margin-top: 28px;
	border-left: 2px solid #ddd;
	line-height: 28px;
	text-align: center;
	vertical-align: middle;
}

.board .chat-function>div{
	display: inline;
	margin-left: 20px;
	cursor: pointer;
}

.board .chat-function i{
	margin-right: 5px;
}

.board .chat-function{
	text-align: right;
	margin-top: 10px;
	margin-right: 27px;
}

.show-more{
	width: 217px;
	background-color: #56A36C;
	color: white;
	text-align: center;
	line-height: 44px;
	border-radius: 20px;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 20px;
}

.show-more i{
	font-size: 20px;
	margin-left: 20px;
}

.footer{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.footer-content{
	width: 100%;
	margin-top: 200px;
	margin-bottom: 70px;
}

.footer-content .foot-box{
	height: 20px;
	position: relative;
	margin-bottom: 30px;
}

.footer-content .foot-box-title{
	position: absolute;
	font-weight: 350;
	font-size: 16px;
	width: 200px;
	text-align: center;
	border-right:2px solid #ddd;
}

.footer-content .foot-box-items{
	margin-left: 200px;
}

.footer-content .foot-box-items li{
	float: left;
	margin-left: 20px;
	line-height: 30px;
	color: #606060;
}

.footer-content .foot-box-items i{
	margin-left: 40px;
}

.footer-content .foot-box-items a{
	color: #606060;
}

.footer-content .foot-box-items a:hover{
	color: #FFAD89;
}

.footer .copyright{
	color: #999999;
	text-align: center;
	font-size: 13px;
}

/* 排行榜页css */
.ranking-menu{
	width: 880px;
	margin: 50px auto 10px auto;
}

.ranking-menu ul{
	display:flex;
	justify-content:space-between;
}

.ranking-menu li{
	float: left;
	width: 100px;
	/*height: 100px;*/
	/*display: justify;*/
	/*text-align-last: justify;*/
	border: 2px dashed #ddd;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	border-radius: 4px;
}

.ranking-menu li a{
	color: #FFAD89;
}

.ranking-menu li a:hover{
	color: #ddd;
}

.ranking-container{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.ranking-container .ranking-title{
	color: #FFAD89;
	margin: 16px 0 20px 38px;
}

.ranking-container .ranking-box{


}

.ranking-container .ranking-content{
	width: 451px;
	/*height: 200px;*/
	border: 1px solid #ddd;
	position: relative;
	box-shadow:17px 12px 5px 2px #CCC;
	float: left;
	margin: 23px;
}

.clear{
	clear: both;
}

.ranking-container .ranking-author{
	background-color: #7BD195;
	color: white;
	padding: 20px 0 160px 20px;
	/*border-radius: 4px;*/
}

.ranking-container .ranking-author-image img{
	width: 70px;
	height: 70px;
}

.ranking-container .ranking-author-image{
	position: absolute;
	width: 100px;
}

.ranking-container .ranking-author-content{
	/*margin-left: 300px;*/
	position: absolute;
	padding-right: 20px;
	margin-left: 100px;
}

.ranking-container .ranking-author-name{
	line-height: 30px;
}

.ranking-container .ranking-author-more{
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.ranking-show-all{
	padding-top: 20px;
	padding-bottom: 20px;
}

.ranking-container .ranking-author-more i{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.ranking-card{
	/*border: 1px solid #666;*/
	width: 450px;
	height: 349px;
	position: relative;
	margin: 23px;
	float: left;
	box-shadow: 0px 8px 30px #ddd;
}

.ranking-card .card-cover img{
	width: 250px;
}

.ranking-card .card-cover{
	position: absolute;
	left: 0;
}

.ranking-card .card-content{
	position: absolute;
	right: 0;
	top: 67px;
	width: 42%
}

.ranking-card .card-title{
	color: #FFAD89;
	margin-bottom: 20px;
	line-height: 25px;
	font-size: 20px;
	font-family: "楷体","楷体_GB2312";
}

.ranking-card li{
	color: #EA692B;
}

.card-author, .card-newpost, .card-fans{
	margin-left: 5px;
	color: #666;
}

.ranking-active{
	background-color: #EA692B;
}

.ranking-active a{
	color: white!important;
}